/* STYLE CSS */

/*-----------------------------------------------------------------
[Main Stylesheet]

01. Header
02. Body
03. Widget
04. Footer
05. Blog
06. Assets & Typography

-------------------------------------------------------------------*/
html {
  height: 100%;
  scroll-behavior: smooth;
}

/*
===============================
    [01. Header]
===============================
*/

header {
  position: fixed;
  z-index: 9;
}

nav {
  font-size: 14px;
  font-family: "Lato";
}

.bg-navbar-gtc_sragen {
  background: #191919;
  color: #008dde;
}

.navbar-gtc_sragen .navbar-brand {
  color: rgb(25, 208, 240);
}

.navbar-gtc_sragen .navbar-brand:hover,
.navbar-gtc_sragen .navbar-brand:focus {
  color: rgb(25, 208, 240);
}

.navbar-gtc_sragen .navbar-nav .nav-link {
  color: #ffff;
}

.navbar-gtc_sragen .navbar-nav .nav-link:hover,
.navbar-gtc_sragen .navbar-nav .nav-link:focus {
  color: #fcbf12;
}

.navbar-gtc_sragen .navbar-nav .nav-link.disabled {
  color: rgb(72, 74, 75);
}

.navbar-gtc_sragen .navbar-nav .show>.nav-link,
.navbar-gtc_sragen .navbar-nav .active>.nav-link,
.navbar-gtc_sragen .navbar-nav .nav-link.show,
.navbar-gtc_sragen .navbar-nav .nav-link.active {
  color: #fcbf12;
}

.navbar-gtc_sragen .navbar-toggler {
  color: #fcbf12;
}

.navbar-gtc_sragen .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(252, 252, 252)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-gtc_sragen .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-gtc_sragen .navbar-text a {
  color: #ffff;
}

.navbar-gtc_sragen .navbar-text a:hover,
.navbar-gtc_sragen .navbar-text a:focus {
  color: #fcbf12;
}

.dropdown-toggle::after {
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
  color: #fcbf12;
}

.dropdown-menu {
  margin-top: 0;
  background-color: #191919;
  ;
  color: #fff;
  ;
}

.dropdown-menu a {
  color: #fff;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fcbf12;
  background-color: #191919;
  ;
}

a.dropdown-item.active {
  color: #fcbf12;
  background-color: #191919;
  ;
}

a.dropdown-item {
  margin-top: 0;
  background-color: #191919;
  ;
  color: #fff;
  ;
}

/*
===============================
    [02. Body]
===============================
*/
body {
  font-family: "Lato";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.slide-content {
  font-family: "Lato";
  color: #fff;
  padding-top: 15%;
  line-height: 1.5;
}

.slide-content .company {
  font-size: 100px;
}

.slide-content .tagline {
  font-size: 50px;
}

.btn-circle.btn-xl { 
  width: 60px; 
  height: 60px; 
  border-radius: 35px; 
  font-weight: bold;
}

.btn-circle {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 35px;
}

.btn-circle:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 35px;
}

.btn-circle:active {
  color: #fff
}

.btn-circle:active:after {
  background: #fcbf12;
}

.btn-circle:hover:before {
  opacity: 1;
}

.btn-circle:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 3px solid #fcbf12;
  left: 0;
  top: 0;
  border-radius: 35px;
}


/*
===============================
    [04. Footer]
===============================
*/
.footer {
  background: #191919;
  font-family: "Lato";
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.link-footer {
  color: #ffff;
}

.link-footer:hover {
  color: #fff;
  text-decoration: none;
}

.linklink-footer:link {
  color: #ffff;
}

.link-footer:active {
  color: #ffff;
}

.link-footer:visited {
  background: #ffff;
}

.widget_categories ul.children li {
  border-bottom: none;
}

.widget_categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.widget_categories ul>li {
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #eeeded;
  text-transform: capitalize;
}

.widget_categories ul>li a {
  color: #424242;
}


/* CAROUSEL */
.slider {
  position: relative;
  height: 100vh;
}
.slider .slide {
  position: relative;
  /* background-image: url(../images/p1.jfif); */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 9s;
}
.slider .slide:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.2;
}
.slider .slide .slide-i {
  position: absolute;
  content: "Hallo";
  font-size: 45px;
  width: 40px;
  top: 48%;
  cursor: pointer;
  transition: 9s;
}
.slider .slide i:hover {
  opacity: 0.6;
  transition: 9s;
}
.slider .slide i.prev {
  left: 5%;
}
.slider .slide i.prev:hover {
  animation: prevmoving 1s infinite;
}
.slider .slide i.next {
  right: 5%;
}
.slider .slide i.next:hover {
  animation: nextmoving 1s infinite;
}

/* PRICING */
.pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
}

.pricing-card{
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: .3s linear;
}

.pricing-card-header{
  background-color: #fcbf12;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 27em #fcbf12;
}

.price{
  font-size: 70px;
  color: #fcbf12;
  transition: .2s linear;
  font-weight: bold;
}

.price sup, .price span{
  font-size: 22px;
  font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
  color: #fff;
  border-radius: 20px 20px 20px 20px;
}

.pricing-card .content{
  height: 320px;
  padding-right: 10%;
}

.pricing-card li{
  font-size: 16px;
  padding: 3px 0;
  text-transform: uppercase;
}

.order-btn{
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 3px solid #fcbf12;
  color: #fcbf12;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

.order-btn:hover{
  background-color: #fcbf12;
  color: #fff;
}

@media screen and (max-width:1100px){
  .pricing-card{
    flex: 50%;
  }
}

/* BUTTON */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #fff
}

.glow-on-hover:active:after {
  background: #fcbf12;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #fcbf12;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/*
===============================
    [02. Responsive]
===============================
*/
/* Small devices (tablets, 768px and up) */
@media all and (max-width: 480px) { 
  .slider .slide i.prev {
    left: 2%;
  }

  .slider .slide i.next {
    right: 1%;
  }

  .slide-content {
    font-family: "Lato";
    color: #fff;
    padding-top: 70%;
    line-height: 1.5;
  }
  
  h3 {
    font-size: 20px;
  }

  .slide-content .company {
    font-size: 50px;
  }
  
  .slide-content .tagline {
    font-size: 20px;
  }
  
  .glow-on-hover {
    width: 30%;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }

  .btn-circle.btn-xl { 
    width: 50px; 
    height: 50px; 
    border-radius: 35px; 
    font-weight: bold;
  }
}
